/* Live Hors ligne */
	#owButton {
	    list-style-image: url("chrome://Humility/content/ressources/iconoff24.png");
	}
	#owButton [cui-areatype="menu-panel"], #PanelUI-contents #owButton{
	    list-style-image: url("chrome://Humility/content/ressources/iconoff32.png");
	}
	toolbarpaletteitem[place="palette"] > #owButton{
	    list-style-image: url("chrome://Humility/content/ressources/logo32.png");
	}
	 
	/* Live En ligne */
	#owButton.online {
	    list-style-image: url("chrome://Humility/content/ressources/icon24.png");
	}
	#owButton.online [cui-areatype="menu-panel"], #PanelUI-contents #owButton.online {
	    list-style-image: url("chrome://Humility/content/ressources/icon32.png");
	}